Linktic.Ecommerce.ProductsCatalog/Linktic.Ecommerce.ProductsCatalog.Infrastructure/obj/
Linktic.Ecommerce.ProductsCatalog/Linktic.Ecommerce.ProductsCatalog.Domain/obj/
Linktic.Ecommerce.ProductsCatalog/Linktic.Ecommerce.ProductsCatalog.Business/obj/
Linktic.Ecommerce.ProductsCatalog/Linktic.Ecommerce.ProductsCatalog.Api/obj/
Linktic.Ecommerce.ProductsCatalog/Linktic.Ecommerce.ProductsCatalog.Infrastructure/bin/
Linktic.Ecommerce.ProductsCatalog/Linktic.Ecommerce.ProductsCatalog.Domain/bin/
Linktic.Ecommerce.ProductsCatalog/Linktic.Ecommerce.ProductsCatalog.Business/bin/
Linktic.Ecommerce.ProductsCatalog/Linktic.Ecommerce.ProductsCatalog.Api/bin/
Linktic.Ecommerce.OrdersManagement/Linktic.Ecommerce.OrdersManagement.Infrastructure/obj/
Linktic.Ecommerce.OrdersManagement/Linktic.Ecommerce.OrdersManagement.Domain/obj/
Linktic.Ecommerce.OrdersManagement/Linktic.Ecommerce.OrdersManagement.Business/obj/
Linktic.Ecommerce.OrdersManagement/Linktic.Ecommerce.OrdersManagement.Api/obj/
Linktic.Ecommerce.OrdersManagement/.idea/
Linktic.Ecommerce.OrdersManagement/Linktic.Ecommerce.OrdersManagement.Api/bin/
Linktic.Ecommerce.ProductsCatalog/.idea/
Linktic.Ecommerce.OrdersManagement/Linktic.Ecommerce.OrdersManagement.Business/bin/
Linktic.Ecommerce.OrdersManagement/Linktic.Ecommerce.OrdersManagement.Infrastructure/bin/
Linktic.Ecommerce.OrdersManagement/Linktic.Ecommerce.OrdersManagement.Domain/bin/
